.legal a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	font-size: 9pt;
}
.legal .dashEl {
	position: relative;
}
.legal .open_plugins {
	position: absolute;
	top: 0;
	right: 0;
	
	min-width: 20px;
	text-align: right;
	font-size: 9pt;
}
.legal .dropdown {
	width: 100%;
	margin-top: 15px;
}
.legal .dropdown ul {
	margin-top: 0;
}
.legal .open_plugins:after {
	content: "\25BE";
}