RewriteEngine On
RewriteCond %{REQUEST_URI} \d$
#RewriteRule ^([^+]+)\+(\d+)\.?(\d*)$ index.php?key=$1&id=$2&q=$3 [NC,L] #TODO: remove after a few weeks!
#RewriteRule ^(\d+).?(\d*)$ index.php?id=$1&q=$2 [NC,L] #TODO: remove after a few weeks!
RewriteRule ^a(\d+)$ index.php?id=$1&app_install [NC,L] #TODO: remove after a few weeks!
RewriteRule ^([^+]+)\+a(\d+)$ index.php?key=$1&id=$2&app_install [NC,L] #TODO: remove after a few weeks!


# to study				www.example.com/1234
RewriteRule ^(\d+)$ index.php?id=$1 [NC,L]

# to study				www.example.com/KEY
RewriteRule ^([a-zA-Z][a-zA-Z0-9]+)$ index.php?key=$1 [NC,L]

# to study				www.example.com/1234-KEY
RewriteRule ^(\d+)-([a-zA-Z][a-zA-Z0-9]+)$ index.php?id=$1&key=$2 [NC,L]


# to app instructions	www.example.com/app-1234
RewriteRule ^app-(\d+)$ index.php?id=$1&app_install [NC,L]

# to app instructions	www.example.com/app-KEY
RewriteRule ^app-([a-zA-Z][a-zA-Z0-9]+)$ index.php?key=$1&app_install [NC,L]

# to app instructions	www.example.com/app-1234-KEY
RewriteRule ^app-(\d+)-([a-zA-Z][a-zA-Z0-9]+)$ index.php?id=$1&key=$2&app_install [NC,L]


# to questionnaire		www.example.com/survey-12345
RewriteRule ^survey-(\d+)$ index.php?qid=$1 [NC,L]

# to questionnaire		www.example.com/survey-12345-KEY
RewriteRule ^survey-(\d+)-([a-zA-Z][a-zA-Z0-9]+)$ index.php?qid=$1&key=$2 [NC,L]