/*
colorPrimary: #9FE0F7
colorPrimaryLight: #e6f9ff
colorPrimaryDark: #2DBFF3
colorPrimaryDarkerDark: #2b98ca
colorAccent: #dc4e9d
colorAccentMediumLight: #ff8fce
colorAccentLight: #ffc7e5
*/


body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow: hidden;
	color:#444;
	transition: opacity 0.3s;
	background-color: #f9f9f9;
	opacity: 0;
}
body.localhost {
	background-color: #c0efff;
}
body.smallScreen #sectionBoxWidthSetter, body.smallScreen #siteLangChooser .current .desc {
	display: none;
}

body.isInit {
	opacity: 1;
}


body.minimal {
	margin: 0;
}
body.grayscaleLight {
	filter: grayscale(100%);
}
body.grayscaleDark {
	filter: invert(1) grayscale(100%);
}
body.minimal > #header,
body.minimal > #sectionBoxWidthSetter,
body.minimal > #siteLangChooser,
body.minimal > #navigationRow,
body.minimal > #sectionsView > .section > .sectionTitle {
	display: none !important;
}
body.minimal > #sectionsView {
	top: 0;
	width: 100% !important;
	margin-bottom: 0;
	transform: unset !important;
}
body.minimal > #sectionsView > .section {
	display: none;
}
body.minimal > #sectionsView > .section:last-child {
	display: block;
	border-width: 0;
	box-shadow: unset;
	height: 100%;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 0;
}


/**********
Tags
**********/

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 0;
	border-color: #dc4e9d;
}
hr.dark {
	border-color: #2b98ca;
}
hr.spacer {
	margin-top: 15px;
	margin-bottom: 15px;
}


h1 {
	font-size: 16pt;
	color: #2b98ca;
}

h2 {
	font-size: 12pt;
	color: #2b98ca;
}
h3 {
	font-size: 12pt;
	font-weight: normal;
	color: #2b98ca;
}

table {
	border-width: 0;
}
table.spacedRows td {
	padding-top: 10px;
	padding-bottom: 10px;
}
table.spacedColumns td {
	padding-left: 5px;
	padding-right: 5px;
}


a, .clickable {
	color: #2b98ca;
	cursor:pointer;
	transition: color 0.3s;
}
a.selectedLink {
	font-weight: bold;
	text-decoration: underline;
}

a:hover, .clickable:hover, .btnAdd:hover {
	color: #2DBFF3;
}
a[href^="#"] {
	text-decoration: none;
}
a.showArrow:after {
	content: "\2794";
	line-height: 1;
}

a svg, .clickable svg {
	fill: #2b98ca;
	transition: fill 0.3s;
}
a:hover svg, .clickable:hover svg {
	fill: #2DBFF3;
}


/**********
main design classes
**********/

.highlight {
	font-weight: bold;
	color: #dc4e9d;
}
.highlight svg {
	fill: #dc4e9d;
}
a.highlight:hover, .clickable.highlight:hover {
	color: #ff8fce;
}
a.highlight:hover svg, .clickable.highlight:hover svg {
	fill: #ff8fce;
}



.largeText {
	font-size: 50pt;
}
.smallText, small {
	font-size: 9pt;
}
.bold {
	font-weight: bold;
}
.gray {
	color: gray;
}
.spacingTop {
	margin-top:	20px;
}
.spacingBottom {
	margin-bottom:	20px;
}
.spacingRight {
	margin-right: 10px;
}
.spacingLeft {
	margin-left: 10px;
}
.horizontalPadding {
	padding-left: 5px;
	padding-right: 5px;
}
.verticalPadding {
	padding-top: 3px;
	padding-bottom: 3px;
}
.hanging {
	text-indent: -2em;
	margin-left: 2em;
}

.hidden {
	/*visibility: hidden;*/
	display: none !important;
}

.nowrap {
	white-space: nowrap;
}
.wrap {
	white-space: pre-wrap
}
.overflowHidden {
	overflow: hidden;
	text-overflow: ellipsis;
}

.vertical, label:not([for]).vertical {
	display: table; /* we dont want it to fill the whole line - so "display: block" is not desirable*/
	text-align: left;
}
.horizontal, label:not([for]).horizontal:not(.top) {
	display: inline-block;
	vertical-align: middle; /*make sure it wont be overwritten by label:not([for])*/
}
.horizontal.top {
	vertical-align: top;
}

.line, label:not([for]).line, .fakeLabel.line { /*label:not([for]).line is needed because we need to override label:not([for])*/
	display: block;
}
.line, label:not([for]).line.noTitle, .fakeLabel.line.noTitle {
	padding-top: 3px;
}
.line, label:not([for]).line.noDesc, .fakeLabel.line.noDesc {
	padding-bottom: 3px;
}

.center {
	text-align: center;
}
.centerChildrenVertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.centerChildrenVertically.listParent {
	align-items: center;
}
.end {
	text-align: end;
}
.middle {
	vertical-align: middle !important;
}
.top {
	vertical-align: top;
}
.justify {
	text-align: justify;
	hyphens: auto;
}
.lineSize {
	line-height: 1.5;
}

.left {
	float: left;
	margin-right: 20px;
}
.right {
	float: right;
	margin-left: 20px;
}
.relative {
	position: relative;
}

.coloredLines .line:nth-child(odd) {
	background-color: lightgrey;
}

.reversedScroll {
	display: flex;
	flex-direction: column-reverse;
}


/**********
flex designs
**********/

.flexHorizontal {
	display: flex;
	flex-direction: row;
}
.flexGrow {
	flex: 1 1 auto;
}
.flexCenter {
	align-self: center;
}


/**********
design elements
**********/

.listParent {
	text-align: center;
}
.listChild {
	display: inline-block;
	text-align: left;
}

.extraNote {
	font-size: 10pt;
	margin-left: 5px;
	font-weight: normal;
	color: #dc4e9d;
}
.extraNote.normal {
	color: #2DBFF3;
}
.extraNote:before {
	content: "(";
}
.extraNote:after {
	content: ")";
}

.scrollBox {
	min-height: 100px;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #9fe0f799;
	padding: 5px;
	margin: 3px 5px 3px 5px;
}
.scrollBox.noBorder {
	border: unset;
}
.scrollBox.big {
	max-height: 400px;
}


.infoSticker {
	float:right;
	font-size: 10pt;
	line-height: 1.2;
	border: 1px solid #2DBFF3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #9FE0F7;
	color: white;
	padding: 1px 3px;
	margin: 2px;
}
.infoSticker.highlight {
	background-color: #dc4e9d;
	border-color: #dc4e9d;
}
.infoSticker.disabled {
	background-color: #d2d2d2;
	border-color: #c7c7c7;
}


/**********
dropdown
**********/

.dropdown {
	z-index: 1;
	position: absolute;
	min-width: 150px;
	min-height: 20px;
	margin: auto;
	padding: 5px;
	background-color: #e6f9ff;
	border: 1px solid #9FE0F7;
	text-align: left;
	box-shadow: 3px 3px 5px #0002;
	overflow: auto;
}
.dropdown label small, .dropdown .fakeLabel small {
	background-color: #e6f9ff;
}

.dropdown.valueList {
	overflow-y: scroll;
	overflow-x: auto;
	max-width: 150%;
	max-height: 300px;
	min-width: 150px;
}
.dropdown.valueList label {
	display: block;
	text-align: left;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	cursor: pointer;
	transition: color 0.3s;
	white-space: nowrap;
	margin: 0;
}
.dropdown.valueList label:hover, .dataTable tr span:hover {
	color: #2b98ca;
}
.dropdown.valueList input {
	vertical-align: middle;
}
.dropdown.valueList input[type="checkbox"] {
	cursor: pointer;
}
.dropdown.valueList span {
	font-weight: normal;
	font-size: 9pt;
	line-height: unset;
}


/**********
accessKeyBox
**********/

.accessKeyBox {
	padding-bottom:15px;
	font-size:10pt;
	text-align: right;
}
.accessKeyBox input {
	font-size:10pt;
}


/**********
stickerList
**********/

.stickerList .line {
	display: flex;
	justify-content: space-between;
	padding-top: 3px;
	padding-bottom: 3px;
}
.stickerList .line .title {
	flex: 1 1 auto;
	white-space: nowrap;
	max-width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.stickerList .line .accessKeys {
	max-width: 50%;
}
.unPublishedStudy {
	opacity: 0.5;
}


/**********
questionnaire
**********/

.questionnaireBox .line {
	margin-top: 10px;
	outline-color: rgba(255, 0, 0, 0);
	transition: outline-color 1s;
}

.questionnaireBox input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 10px;
}


.questionnaireBox .missing {
	outline: 2px solid red;
}
.questionnaireBox input[type=range] {
	width: 100%;
	max-width: 500px;
}

.questionnaireBox .required > div {
	display: inline;
	margin-right: 5px;
}
.questionnaireBox .required::after {
	content: "*";
}


/**********
charts
**********/

.chartWindow {
	position: relative;
}
.chartWindow .scrollEl {
	overflow-x: auto;
}
.chartWindow .scrollEl.pie {
	max-width: 200px;
	margin: auto;
}
.chartWindow .chartEl {
	min-width: 100%;
}
.chartWindow .legend {
	text-align: center;
}
.chartWindow .legend .line {
	display: inline-block;
	margin-right: 20px;
}
.chartWindow .legend .colorRect {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.chartWindow .yAxis {
	position: absolute;
	left: 0;
	top: 30px;
	bottom: 54px;
	width: 20px;
	background-color: white;
	border-bottom: 11px solid white;
}
.chartWindow .yAxis .axisValue{
	position: absolute;
	right: 2px;
	margin-bottom: -30%;
	color: #666;
	font-size: 12px;
}


/**********
screenshots
**********/

.screenshots .multipleChildren {
	padding: 5px;
}
.screenshots .dashRow > * {
	text-align: center;
}
.screenshots .dashRow .dashEl {
	display: flex;
	justify-content: space-around;
	min-height: 200px;
}
.screenshots .dashRow img {
	max-height: 200px;
	max-width: 100%;
	vertical-align: middle;
}

.screenshots .imageBox {
	display: inline-flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 3px;
}
.screenshots .imageBox .desc {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: #e6f9ffee;
	color: #2b98ca;
}

.dropdown.screenshot {
	background-color: #00000055;
}


/**********
screenshotWindow
**********/

.screenshotWindow {
	z-index: 102;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.screenshotWindow img {
	max-width: 90%;
	max-height: 90%;
}
.screenshotWindow .desc {
	margin-top: 10px;
}
.screenshotWindow .desc, .screenshotWindow img {
	background-color: #e6f9ff;
	border: 1px solid #9FE0F7;
	padding: 5px;
	box-shadow: 3px 3px 5px #0002;
}



/**********
appInstall
**********/

.appInstallAlternative.clickable {
	background-color: #e6f9ff;
	padding: 1px 10px;
	transition: background-color 0.3s;
}
.appInstallAlternative.clickable:hover {
	background-color: #9fe0f7
}


/**********
legal
**********/

.legal a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	font-size: 9pt;
}
.legal .dashEl {
	position: relative;
}
.legal .open_plugins {
	position: absolute;
	top: 0;
	right: 0;

	min-width: 20px;
	text-align: right;
	font-size: 9pt;
}
.legal .dropdown {
	width: 100%;
	margin-top: 15px;
}
.legal .dropdown ul {
	margin-top: 0;
}
.legal .open_plugins:after {
	content: "\25BE";
}


/**********
login
**********/

.login {
	height: 80%;
}

.login form {
	position: sticky;
	top: 0;
}


/**********
rewardCodes
**********/

.rewardCodes .searchBox {
	display: flex;
	flex-direction: column;
	min-height: 285px;
}
.rewardCodes .searchBox .scrollBox {
	flex: 1 1 0;
	max-height: unset;
}

