name: Automatic release

on:
  push:
    branches: [ main ]
  
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Install Dependencies
        run: npm install
      
      - name: Build for production
        run: npm run prod
      
      - name: Create tag
        uses: butlerlogic/action-autotag@stable
        id: autotag
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          strategy: package
          tag_prefix: "v"
      
      - name: Zip dist folder
        run: |
          cd dist
          zip -r ../ESMira-web.zip .
      
      - name: Create named release
        if: ${{ steps.autotag.outputs.tagcreated == 'yes' }}
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Release version ${{ steps.autotag.outputs.version }}
          tag_name: v${{ steps.autotag.outputs.version}}
          generate_release_notes: true
          append_body: true
          body_path: CHANGELOG.md
          files: ESMira-web.zip